.history {
  top: 50px;
  bottom: 50px;
  position: fixed;
  width: 50%;
  border: 1px solid #999;
  background: #fcfcfa;
  left: 50%;
  margin-left: -25%;
  padding: 10px 0;
  border-radius: 10px;
}

.history-items {
  width: 100%;
  position: absolute;
  top: 7px;
  bottom: 7px;
  overflow-y: scroll;
  overflow-y: scroll;
}

@media (min-width: 1000px) {
  .history {
    width: 500px;
    margin-left: -250px;
  }
}

.history-item {
  padding: 20px;
  border-bottom: 1px solid #999;
  cursor: pointer;
}

.history-item:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.text-lengh {
  margin-left: 5px;
  color: #555;
  font-size: 10px;
}

/*       NIGHT     */

.night .history {
  background: hsl(211, 33%, 26%);
  border-color: #777;
}

.night .history-item:hover {
  color: #eee;
  background-color: hsl(211, 40%, 35%);
  border-color: #adadad;
}

.night .text-lengh {
  margin-left: 5px;
  color: #bbb;
  font-size: 10px;
}
