.settings {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.settings .btn {
  border-radius: 20px;
  margin: 0 5px;
  height: 32px;
}

.btn span {
  position: relative;
  top: -1px;
}

.btn .night-btn {
  top: -4px;
}

.decrease-font,
.increase-font {
  font-size: 13px;
}

.paragraph-image {
  height: 15px;
}

.paragraph-small-image {
  margin-top: 3px;
}

.paragraph-big-image {
  margin-top: 1px;
}
