.chunk {
  padding: 20px 10px;
  cursor: pointer;
}

.translated-chunk {
  background: #edf0f3;
  border-radius: 15px;
}

.translated-text {
  width: 90%;
  max-width: 700px;
  margin: 0px auto;
}

@media (min-width: 800px) {
  .translated-text {
    width: 80%;
  }
}

.yandex {
  text-align: left;
  margin-top: 10px;
}

.yandex a {
  text-decoration: none;
  color: hsl(203, 69%, 43%);
}

.yandex a:hover {
  text-decoration: underline;
}

.selected-word {
  background: hsla(54, 91%, 31%, 0.32);
  border-radius: 3px;
  padding: 0 3px 2px;
  display: inline-block;
}

/*        NIGHT       */

.night .translated-chunk {
  background: hsl(211, 20%, 40%);
}

.night .yandex a {
  color: #ccc;
}

.night .selected-word {
  background: hsla(54, 91%, 91%, 0.6);
  color: #333;
}
