body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background: #fcfcfa;
}

.app {
  text-align: center;
  padding-bottom: 40px;
}

.app-header {
  background-color: #35655a;
  height: 75px;
  padding: 20px;
  color: #fcfcfa;
}

.app-header h2 {
  margin-top: -8px;
  font-size: 28px;
  font-family: 'Bad Script', cursive;
  font-weight: normal;
}

.main-buttons {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 6px 15px;
  color: #333;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  user-select: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in 0s;
}

.main-buttons .btn {
  margin: 0 1%;
  width: 140px;
}

@media (max-width: 450px) {
  .main-buttons {
    flex-direction: column;
    align-items: center;
  }
  .main-buttons .btn {
    margin: 3px 0;
  }
}

.btn:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
  transition: background-color 0.2s ease-in 0s;
}

.detected,
.current-language {
  display: inline-block;
  max-width: 500px;
  margin: 5px 10px 0;
  font-size: 12px;
  color: rgb(89, 96, 89);
  text-align: left;
}

/*       NIGHT     */

.night {
  background: hsl(211, 33%, 26%);
  color: #ddd;
}

body.night {
  background: hsl(211, 33%, 26%);
}

.night .btn {
  background: hsl(203, 45%, 33%);
  color: #ddd;
  border-color: #777;
}

.night .btn:hover {
  background-color: hsl(203, 45%, 43%);
  border-color: #adadad;
}

.night .detected,
.night .current-language {
  color: #bbb;
}

.night .app-header {
  color: #eee;
  background: #3b5f56;
}

* {
  transition: background-color 0.2s ease-in 0s;
  box-sizing: border-box;
}
